In [15]:
import pandas as pd 
import itertools
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [16]:
data = pd.read_excel('PAML_COVID_Dataset.xlsx')
data.head()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,Gender,ConfirmedForeignNational,Age,Serious symptoms,Less common symptoms,Most common symptoms,Severity,Patient_Status
0,30/01/20,18:00:00,Kerala,1,Male,0,5,difficulty breathing or shortness of breath,diarrhoea,fever,Seviour,Covid
1,31/01/20,18:00:00,Kerala,1,Female,0,8,chest pain or pressure,sore throat,tiredness,Mild,flu
2,2020-01-02 00:00:00,18:00:00,Kerala,2,Male,0,39,loss of speech or movement,conjunctivitis,tiredness,Seviour,flu
3,2020-02-02 00:00:00,18:00:00,Kerala,3,Female,0,63,loss of speech or movement,sore throat,tiredness,Seviour,Covid
4,2020-03-02 00:00:00,18:00:00,Kerala,3,Male,0,6,chest pain or pressure,"a rash on skin, or discolouration of fingers o...",dry cough,Moderate,flu

In [2]:
data['Severity'].value_counts()
data['Less common symptoms'].value_counts()
data['Serious symptoms'].value_counts()
data['Most common symptoms'].value_counts()

tiredness    1054
dry cough    1047
fever        1034
Name: Most common symptoms, dtype: int64

In [19]:
dcopy = data.copy()

In [20]:
#labeling values in 'Less common symptoms' and all relevant columns. 

Enc=LabelEncoder()
dcopy['Less common symptoms']=Enc.fit_transform(dcopy['Less common symptoms'].astype('str')) 
#0 - diarrhoea 
#1 = a rash on skin, or discolouration of fingers or toes
#2 - loss of taste or smell 
#3 - headache 
#4 - sore throat 
#5 - aches and pains
#6 - conjuctivitis

In [21]:
dcopy['Serious symptoms']=Enc.fit_transform(dcopy['Serious symptoms'].astype('str'))
dcopy.head()
#0 - difficulty breathing or shortness of breath
#1 - chest pain or pressure       
#2 - loss of speech or movement

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,Gender,ConfirmedForeignNational,Age,Serious symptoms,Less common symptoms,Most common symptoms,Severity,Patient_Status
0,30/01/20,18:00:00,Kerala,1,Male,0,5,1,3,fever,Seviour,Covid
1,31/01/20,18:00:00,Kerala,1,Female,0,8,0,6,tiredness,Mild,flu
2,2020-01-02 00:00:00,18:00:00,Kerala,2,Male,0,39,2,2,tiredness,Seviour,flu
3,2020-02-02 00:00:00,18:00:00,Kerala,3,Female,0,63,2,6,tiredness,Seviour,Covid
4,2020-03-02 00:00:00,18:00:00,Kerala,3,Male,0,6,0,0,dry cough,Moderate,flu

In [22]:
dcopy['Most common symptoms']=Enc.fit_transform(dcopy['Most common symptoms'].astype('str'))
#0 - tiredness
#1 - dry cough
#2 - fever

In [23]:
dcopy['Severity']=Enc.fit_transform(dcopy['Severity'].astype('str')) 
dcopy.head()
#0 - Moderate
#1 - Mild 
#2 - Seviour

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,Gender,ConfirmedForeignNational,Age,Serious symptoms,Less common symptoms,Most common symptoms,Severity,Patient_Status
0,30/01/20,18:00:00,Kerala,1,Male,0,5,1,3,1,2,Covid
1,31/01/20,18:00:00,Kerala,1,Female,0,8,0,6,2,0,flu
2,2020-01-02 00:00:00,18:00:00,Kerala,2,Male,0,39,2,2,2,2,flu
3,2020-02-02 00:00:00,18:00:00,Kerala,3,Female,0,63,2,6,2,2,Covid
4,2020-03-02 00:00:00,18:00:00,Kerala,3,Male,0,6,0,0,0,1,flu

In [24]:
dcopy['State/UnionTerritory'] = Enc.fit_transform(dcopy['State/UnionTerritory'].astype('str'))

In [25]:
dcopy.update(dcopy['Gender '].replace(to_replace =["Male "], value ="0")) 
dcopy.update(dcopy['Gender '].replace(to_replace =["Female"], value ="1")) 
dcopy.update(dcopy['Patient_Status '].replace(to_replace =["Covid"], value ="0")) 
dcopy.update(dcopy['Patient_Status '].replace(to_replace =["flu"], value ="1"))

In [32]:
dcopy.head()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,Gender,ConfirmedForeignNational,Age,Serious symptoms,Less common symptoms,Most common symptoms,Severity,Patient_Status
0,30/01/20,18:00:00,19,1,0,0,5,1,3,1,2,0
1,31/01/20,18:00:00,19,1,1,0,8,0,6,2,0,1
2,2020-01-02 00:00:00,18:00:00,19,2,0,0,39,2,2,2,2,1
3,2020-02-02 00:00:00,18:00:00,19,3,1,0,63,2,6,2,2,0
4,2020-03-02 00:00:00,18:00:00,19,3,0,0,6,0,0,0,1,1

In [27]:
X = dcopy[['Gender ','Age ','Serious symptoms','Less common symptoms','Most common symptoms', 'Severity']]
y = dcopy['Patient_Status ']
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

X[0:5]

array([[-0.99269019, -1.71270758,  0.03107909,  0.00509764, -0.00272752,
         1.24112981],
       [ 1.00736363, -1.60402899, -1.2022495 ,  1.50332606,  1.21881155,
        -1.22383183],
       [-0.99269019, -0.48101688,  1.26440769, -0.49431183,  1.21881155,
         1.24112981],
       [ 1.00736363,  0.38841185,  1.26440769,  1.50332606,  1.21881155,
         1.24112981],
       [-0.99269019, -1.67648138, -1.2022495 , -1.49313078, -1.22426659,
         0.00864899]])

## Predicting class using KNN

In [33]:
#splitting data into test&train 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state = 5)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (2194, 6) (2194,)
Test set: (941, 6) (941,)

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
k = 1
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [31]:
yhat = neigh.predict(X_test)
yhat[0:5]

array(['1', '0', '0', '0', '0'], dtype=object)

In [11]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.9858705560619873
Test set Accuracy:  0.5164718384697131

neigh.predict([[a,b,c,d,e,f]]) 

## a - Gender 
#0 - Male
#1 - Female
        
## b - Age

## c - Serious Symptoms 
#0 - difficulty breathing or shortness of breath
#1 - chest pain or pressure       
#2 - loss of speech or movement   

## d - Less common Symptoms 
#0 - diarrhoea 
#1 = a rash on skin, or discolouration of fingers or toes
#2 - loss of taste or smell 
#3 - headache 
#4 - sore throat 
#5 - aches and pains
#6 - conjuctivitis 

## e - Most common symptoms
#0 - tiredness
#1 - dry cough
#2 - fever

## f - Severity
#0 - Moderate
#1 - Mild 
#2 - Seviour

In [12]:
neigh.predict([[0, 34,2,4,2,2]])

array(['1'], dtype=object)

Value 1 -> Flu

In [36]:
neigh.predict([[0, 34,0,1,1,2]])

array(['0'], dtype=object)

Value 0 -> Covid